@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Yours Now</h1>
    <p><a href="Appointments/Create">Click Here!</a> to book Appointment.</p>
</div>
